body {
    margin: 0;
    font-family: 'Inter',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E7F6FF;
  }
  button,input {
    font-family: 'Inter',sans-serif;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0px
  }
  .btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    max-width: 1080px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin: 50px auto;
  }






  .green__btn {
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.15s ease-in-out;

        &:hover {
            background: lighten($color: #9dd558, $amount: 10%);
        }
        &:active {
            background: darken($color: #9dd558, $amount: 10%);
        }
    }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 0 94px 0 ;
    border: 1px solid #EAEAEA;
    .header__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        .header__logo{
            margin-right: 16px;
            margin-left: 41px;
        }
        .header__info {
            h3 {
                text-transform: uppercase;
            }
            
        }
        p {
            color: #BDBDBD;
        }
    }  
    .header__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        li:not(:last-child){
            margin-right: 30px;
        }
        li:last-child {
            margin-right: 60px;
        }
    }
  }

    .content {
        margin: 0 20px;
        padding: 40px;
        

        .sneakers {
            display: flex;
            gap: 30px;
            justify-content: center;
            flex-wrap: wrap;
            
        
        }
        .content__info {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search {
                border: 1px solid #f3f3f3;
                display: flex;
                align-items: center;
                font-size: 14px;
                padding: 0 15px;
                border-radius: 10px;

                input {
                    border: 0;
                    padding: 10px;
                    max-width: 200px;
                   

                    &:focus{
                        outline: 0;
                    }
                }
            }
        }  
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    
}



  